<div style="margin: 0 auto; padding-top: 10px">
    {{#commentForm}}
    <div class="card m" id="comments-{{id}}" >
        <div class="card-header">
            {{nickname}}
        </div>
        <div class="card-body">
            {{body}}
        </div>
    </div><br/>
    {{/commentForm}}
</div>